/* varible */
:root{
    --dark:#19283f;
    --green:#33d1cc;
    --red:#ff3150;
    --yellow:#ffc400;
    --section-color:#eff7fa;
}
/* end varible */

/*start global rules  */
body{
    font-family: "Roboto",sans-serif;
}
.main-btn{
    background-color:var(--red);
    color: var(--yellow);
}
.main-btn:hover{
    background-color: var(--red);
    color: var(--yellow);
}
.main-heading::before{
    content: "";
    width: 150px;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/*end global rules  */

/* start navbar */
.navbar{
    background-color: var(--dark);
}
.navbar-nav .nav-link  {
    color: white;
}
.navbar-nav .nav-link.active ,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover{
    color: var(--green);
}
.navbar .sarche{
    border-left: 1px solid var(--green);
   
}
.navbar .sarche svg{
    color: var(--green);
}
.navbar .navbar-toggler{
    border-color: white;
    font-size: 25px;

}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[ aria-expanded="true"]{
 border-color: var(--green);
 
}
/* end navbar */

/* start landing style */
.landing{
    background-color: var(--dark);
    height: calc(100vh - 72px);
}
/* end landing style */

/* start feat style */
.features .icon-holder {
    height: 200px;
}
.features .icon-holder .icon{
   color: var(--green);
}
.features .icon-holder .number{
 color: var(--section-color);
 font-size: 12rem;
}
.features .feat h4{
    color: var(--yellow);
}
/* end feat style */

/* start our work style */
.our-work{
    background-color: var(--section-color);
}.our-work ul li {
    cursor: pointer;
}
.our-work ul .active {
    background-color: var(--red);
    color: var(--yellow);
}
.our-work ul li:not(:first-child):hover{
    color: var(--yellow);
}
.our-work .box{
    padding: 5px;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before{
    transform: translateX(0);
}
/* end our work style */ 

/* start  Stuff style */
.descrp{
    max-width: 500px;
}
/* end  Stuff style */

/* start  team style */
.team{
    background-color: var(--section-color);
}
.team .team-heading{
    color: var(--yellow);
}
.team .team-box{
    background-color: white;
}
.team .team-box h4{
    background-color: var(--green);
}
/* end  team style */

/* start  project style */
.project{
    background-color: var(--dark);
}
/* end  project style */

/* start blog style */
.blog{
    background-color: white;
}
/* end blog style */

/* start subscribe style */
.subscribe{
    background-color: var(--yellow);
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe ::placeholder{
    color: white;
}
.subscribe input[type="submit"]{
    background-color: var(--dark);
    color: var(--yellow);
}
/* end subscribe style */

/* start footer style */
footer{
    background-color: var(--dark);
}
footer .copyright > span{
    color: var(--green);
}
footer .copyright div span{
    color: var(--yellow);
}
footer .contact svg{
    width:20px;
    height:20px;
}
footer .contact .facebook {
    background-color: #1877f2;
}
footer .contact .twitter {
    background-color: #1da1f2;
}
footer .contact .google {
    background-color: #dd4b39;
}
footer .contact .dribbble {
    background-color: #ff8833;
}
/* end footer style */